# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
# your code here
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")

#### 1. Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools or clicking in 'Inspect' on any browser. Here is an example:

![title](example_1.png)

2. Use BeautifulSoup `find_all()` to extract all the html elements that contain the developer names. Hint: pass in the `attrs` parameter to specify the class.

3. Loop through the elements found and get the text for each of them.

4. While you are at it, use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names. Hint: you may also use `.get_text()` instead of `.text` and pass in the desired parameters to do some string manipulation (check the documentation).

5. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [4]:
lst = [soup.find_all(class_='h3 lh-condensed')[i].get_text().replace('\n\n            ','').replace('\n ','') + '(' + soup.find_all('p',{'class':'f4 text-normal mb-1'})[i].get_text().replace("\n\n              ", "" ).replace("\n ", "") + ')' for i in range(0,24)]
lst

['Mitchell Hashimoto(mitchellh)',
 'Tim Holy(timholy)',
 'Isaac Hinman(isaachinman)',
 'Francois Zaninotto(fzaninotto)',
 'Ryo Nakao(nakabonne)',
 'Sebastián Ramírez(tiangolo)',
 'Christian Rotzoll(rootzoll)',
 'Philippe Ozil(pozil)',
 'Lipis(lipis)',
 'Yevgeniy Brikman(brikis98)',
 'Ben Rogerson(ben-rogerson)',
 'Connor Tumbleson(iBotPeaches)',
 'Suyash Kumar(suyashkumar)',
 'Dmitriy Kovalenko(dmtrKovalenko)',
 'Diego Muracciole(diegomura)',
 'Philipp Rudiger(philippjfr)',
 'Martin Donath(squidfunk)',
 'Nico Schlömer(nschloe)',
 'Bo-Yi Wu(appleboy)',
 'Michael Grosser(grosser)',
 'Raphaël Benitte(plouc)',
 'Miek Gieben(miekg)',
 'Matteo Mazzarolo(mmazzarolo)',
 'Wojciech Maj(wojtekmaj)']

#### 1.1. Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [5]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [6]:
# your code here
html1 = requests.get(url).content
soup1 = BeautifulSoup(html1, "lxml")

In [7]:
lste = [soup1.find_all(class_='h3 lh-condensed')[0].get_text()]
lste

['\n\n\n\n        huggingface /\n\n      datasets\n ']

In [8]:
lste = [soup1.find_all(class_='h3 lh-condensed')[i].get_text().replace('\n\n\n       ','').replace('/\n\n      ','').replace('\n ','') for i in range(0,25) ]
lste

['huggingface datasets',
 'EricJMarti inventory-hunter',
 'python-telegram-bot python-telegram-bot',
 'mikf gallery-dl',
 'locustio locust',
 'lux-org lux',
 'kubernetes-client python',
 'Z4nzu hackingtool',
 'asteroid-team asteroid',
 'jasmcaus caer',
 'megadose holehe',
 'mementum backtrader',
 'nedlir languagepod101-scraper',
 'yogeshojha rengine',
 'r0ysue r0capture',
 'chubin cheat.sh',
 'python-poetry poetry',
 'jiupinjia stylized-neural-painting',
 'PyCQA isort',
 'brightmart albert_zh',
 'spotify luigi',
 'microsoft recommenders',
 'nwojke deep_sort',
 'donnemartin data-science-ipython-notebooks',
 'open-mmlab mmdetection3d']

#### 2. Display all the image links from Walt Disney wikipedia page.
Hint: use `.get()` to access information inside tags. Check out the documentation.

In [9]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [10]:
# your code here
html2 = requests.get(url).content
soup2 = BeautifulSoup(html1, "lxml")

In [11]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import re

html = urlopen('https://en.wikipedia.org/wiki/Walt_Disney')
bs = BeautifulSoup(html, 'html.parser')
images = bs.find_all('img', {'src':re.compile('.jpg')})
for image in images: 
    print(image['src']+'\n')

//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Newman_Laugh-O-Gram_%281921%29.webm/220px-seek%3D2-Newman_Laugh-O-Gram_%281921%29.webm.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/7/71/Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg/170px-Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg

//upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg

//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/24px-Magic_Kingdom_castle.jpg

#### 2.1. List all language names and number of related articles in the order they appear in wikipedia.org.

In [12]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [13]:
# your code here

html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")

In [14]:
languages = [soup.find_all('strong')[i].get_text() for i in range(1,11)]
languages

['English',
 'Español',
 '日本語',
 'Deutsch',
 'Русский',
 'Français',
 'Italiano',
 '中文',
 'Português',
 'Polski']

In [15]:
articles = [soup.find_all('bdi')[i].get_text().replace('\xa0', '').replace(u'+', '') for i in range(0,10)]
articles

['6199000',
 '1643000',
 '1240000',
 '2505000',
 '1680000',
 '2273000',
 '1655000',
 '1160000',
 '1048000',
 '1441000']

In [16]:
print(list(zip(languages, articles)))

[('English', '6199000'), ('Español', '1643000'), ('日本語', '1240000'), ('Deutsch', '2505000'), ('Русский', '1680000'), ('Français', '2273000'), ('Italiano', '1655000'), ('中文', '1160000'), ('Português', '1048000'), ('Polski', '1441000')]

#### 2.2. Display the top 10 languages by number of native speakers stored in a pandas dataframe.
Hint: After finding the correct table you want to analyse, you can use a nested **for** loop to find the elements row by row (check out the 'td' and 'tr' tags). <br>An easier way to do it is using pd.read_html(), check out documentation [here](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.read_html.html).

In [17]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [18]:
# your code here
data = pd.read_html(url)
data[0].head(10)

,Rank,Language,Speakers(millions),Percentageof world pop.(March 2019)[8],Language family,Branch
0,1,Mandarin Chinese,918.0,11.922%,Sino-Tibetan,Sinitic
1,2,Spanish,480.0,5.994%,Indo-European,Romance
2,3,English,379.0,4.922%,Indo-European,Germanic
3,4,Portuguese,346.0,4.450%,Indo-European,Romance
4,5,Hindi (sanskritised Hindustani)[9],341.0,4.429%,Indo-European,Indo-Aryan
5,6,Bengali,228.0,2.961%,Indo-European,Indo-Aryan
6,7,Russian,154.0,2.000%,Indo-European,Balto-Slavic
7,8,Japanese,128.0,1.662%,Japonic,Japanese
8,9,Western Punjabi[10],92.7,1.204%,Indo-European,Indo-Aryan
9,10,Marathi,83.1,1.079%,Indo-European,Indo-Aryan

#### 3. Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.
Hint: If you hover over the title of the movie, you should see the director's name. Can you find where it's stored in the html?

In [19]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [20]:
# your code here
data = pd.read_html(url)
movies_raw = data[0]
movies_raw

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. Die Verurteilten (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. Der Pate (1972),9.1,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. Der Pate 2 (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. The Dark Knight (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. Die zwölf Geschworenen (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN
...,...,...,...,...,...
245,NaN,246. Der Zirkus (1928),8.0,12345678910 NOT YET RELEASED Seen,NaN
246,NaN,247. Schlacht um Algier (1966),8.0,12345678910 NOT YET RELEASED Seen,NaN
247,NaN,248. Tangerines (2013),8.0,12345678910 NOT YET RELEASED Seen,NaN
248,NaN,249. Terminator (1984),8.0,12345678910 NOT YET RELEASED Seen,NaN
249,NaN,250. Underground (1995),8.0,12345678910 NOT YET RELEASED Seen,NaN

In [21]:
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")

In [22]:
import numpy as np

test_directors = list(soup.find_all(class_='titleColumn')[1].find_all('a'))

for director in test_directors:
    print(director.get('title').split(','))
    
test_directors[0].get('title').split(',')[0]

['Francis Ford Coppola (dir.)', ' Marlon Brando', ' Al Pacino']

'Francis Ford Coppola (dir.)'

In [23]:
import numpy as np

test_directors = [list(soup.find_all(class_='titleColumn')[i].find_all('a'))[0].get('title').split(',')[0].replace(' (dir.)','') for i in range(0,250)]

In [25]:
test_directors

['Frank Darabont',
 'Francis Ford Coppola',
 'Francis Ford Coppola',
 'Christopher Nolan',
 'Sidney Lumet',
 'Steven Spielberg',
 'Peter Jackson',
 'Quentin Tarantino',
 'Sergio Leone',
 'Peter Jackson',
 'David Fincher',
 'Robert Zemeckis',
 'Christopher Nolan',
 'Peter Jackson',
 'Irvin Kershner',
 'Lana Wachowski',
 'Martin Scorsese',
 'Milos Forman',
 'Akira Kurosawa',
 'David Fincher',
 'Roberto Benigni',
 'Fernando Meirelles',
 'Jonathan Demme',
 'Frank Capra',
 'George Lucas',
 'Steven Spielberg',
 'Hayao Miyazaki',
 'Frank Darabont',
 'Christopher Nolan',
 'Bong Joon Ho',
 'Luc Besson',
 'Bryan Singer',
 'Masaki Kobayashi',
 'Roger Allers',
 'Roman Polanski',
 'Robert Zemeckis',
 'James Cameron',
 'Tony Kaye',
 'Charles Chaplin',
 'Alfred Hitchcock',
 'Ridley Scott',
 'Charles Chaplin',
 'Martin Scorsese',
 'Olivier Nakache',
 'Damien Chazelle',
 'Christopher Nolan',
 'Isao Takahata',
 'Sergio Leone',
 'Thomas Kail',
 'Michael Curtiz',
 'Giuseppe Tornatore',
 'Alfred Hitchcock',
 'Ridley Scott',
 'Francis Ford Coppola',
 'Christopher Nolan',
 'Charles Chaplin',
 'Steven Spielberg',
 'Quentin Tarantino',
 'Florian Henckel von Donnersmarck',
 'Todd Phillips',
 'Stanley Kubrick',
 'Andrew Stanton',
 'Stanley Kubrick',
 'Anthony Russo',
 'Billy Wilder',
 'Billy Wilder',
 'Chan-wook Park',
 'Hayao Miyazaki',
 'Bob Persichetti',
 'Stanley Kubrick',
 'Christopher Nolan',
 'Sergio Leone',
 'James Cameron',
 'Makoto Shinkai',
 'Anthony Russo',
 'Lee Unkrich',
 'Sam Mendes',
 'Mel Gibson',
 'Wolfgang Petersen',
 'Rajkumar Hirani',
 'John Lasseter',
 'Akira Kurosawa',
 'Nadine Labaki',
 'Milos Forman',
 'Quentin Tarantino',
 'Richard Marquand',
 'Aamir Khan',
 'Gus Van Sant',
 'Quentin Tarantino',
 'Stanley Kubrick',
 'Darren Aronofsky',
 'Alfred Hitchcock',
 'Fritz Lang',
 'Michel Gondry',
 'Thomas Vinterberg',
 'Nitesh Tiwari',
 'Orson Welles',
 'Sam Mendes',
 'Stanley Kubrick',
 'Vittorio De Sica',
 'Stanley Donen',
 'Charles Chaplin',
 'Alfred Hitchcock',
 'Stanley Kubrick',
 'Guy Ritchie',
 'Brian De Palma',
 'Martin Scorsese',
 'Akira Kurosawa',
 'David Lean',
 'Jean-Pierre Jeunet',
 'Lee Unkrich',
 'George Roy Hill',
 'Fritz Lang',
 'Asghar Farhadi',
 'Elem Klimov',
 'Denis Villeneuve',
 'Sergio Leone',
 'Billy Wilder',
 'Billy Wilder',
 'Robert Mulligan',
 'Pete Docter',
 'Steven Spielberg',
 'Michael Mann',
 'Curtis Hanson',
 'John McTiernan',
 'Terry Gilliam',
 'Akira Kurosawa',
 'Akira Kurosawa',
 'Christopher Nolan',
 'Peter Farrelly',
 'Oliver Hirschbiegel',
 'Majid Majidi',
 'Clint Eastwood',
 'Akira Kurosawa',
 'Billy Wilder',
 'Hayao Miyazaki',
 'Ron Howard',
 'Joseph L. Mankiewicz',
 'Martin Scorsese',
 'John Sturges',
 'Martin Scorsese',
 'Guillermo del Toro',
 'Juan José Campanella',
 'Guy Ritchie',
 'Paul Thomas Anderson',
 'Martin Scorsese',
 'Hayao Miyazaki',
 'Stanley Kramer',
 'John Huston',
 'Hrishikesh Mukherjee',
 'Alfred Hitchcock',
 'Martin McDonagh',
 'Roman Polanski',
 'Charles Chaplin',
 'Martin Scorsese',
 'Çagan Irmak',
 'Ethan Coen',
 'James McTeigue',
 'Ingmar Bergman',
 'Pete Docter',
 "Gavin O'Connor",
 'David Lynch',
 'John Carpenter',
 'M. Night Shyamalan',
 'Danny Boyle',
 'Steven Spielberg',
 'Victor Fleming',
 'Peter Weir',
 'Andrew Stanton',
 'Ingmar Bergman',
 'Ridley Scott',
 'Andrei Tarkovsky',
 'Quentin Tarantino',
 'David Lean',
 'Bong Joon Ho',
 'Lenny Abrahamson',
 'Joel Coen',
 'Ingmar Bergman',
 'Clint Eastwood',
 'Yasujirô Ozu',
 'Carol Reed',
 'Elia Kazan',
 'Damián Szifron',
 'Michael Cimino',
 'Sergio Pablos',
 'Jim Sheridan',
 'Adam Elliot',
 'David Fincher',
 'Wes Anderson',
 'Mel Gibson',
 'Richard Linklater',
 'Steven Spielberg',
 'Sriram Raghavan',
 'Ingmar Bergman',
 'Joel Coen',
 'Denis Villeneuve',
 'Ernst Lubitsch',
 'Buster Keaton',
 'Yavuz Turgul',
 'Clyde Bruckman',
 'Dean DeBlois',
 'James Mangold',
 'Steve McQueen',
 'Frank Capra',
 'Gayatri',
 'Stanley Kubrick',
 'George Miller',
 'Clint Eastwood',
 'Sidney Lumet',
 'Rob Reiner',
 'Peter Weir',
 'Stuart Rosenberg',
 'William Wyler',
 'Lasse Hallström',
 'David Yates',
 'Oliver Stone',
 'Sean Penn',
 'James Mangold',
 'Henri-Georges Clouzot',
 'Chan-wook Park',
 'Terry Jones',
 'Ron Howard',
 'Carl Theodor Dreyer',
 'François Truffaut',
 'Tom McCarthy',
 'Andrei Tarkovsky',
 'Terry George',
 'Mathieu Kassovitz',
 'Alejandro G. Iñárritu',
 'John G. Avildsen',
 'Jules Dassin',
 'Hayao Miyazaki',
 'Anurag Kashyap',
 'Pete Docter',
 'Alfred Hitchcock',
 'Rakeysh Omprakash Mehra',
 'Richard Linklater',
 'Kar-Wai Wong',
 'Céline Sciamma',
 'Wim Wenders',
 'Frank Capra',
 'Nishikant Kamat',
 'Oriol Paulo',
 'Tate Taylor',
 'Rob Reiner',
 'Charles Chaplin',
 'Gillo Pontecorvo',
 'Zaza Urushadze',
 'James Cameron',
 'Emir Kusturica']

In [26]:
df = pd.DataFrame(data[0])
df

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. Die Verurteilten (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. Der Pate (1972),9.1,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. Der Pate 2 (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. The Dark Knight (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. Die zwölf Geschworenen (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN
...,...,...,...,...,...
245,NaN,246. Der Zirkus (1928),8.0,12345678910 NOT YET RELEASED Seen,NaN
246,NaN,247. Schlacht um Algier (1966),8.0,12345678910 NOT YET RELEASED Seen,NaN
247,NaN,248. Tangerines (2013),8.0,12345678910 NOT YET RELEASED Seen,NaN
248,NaN,249. Terminator (1984),8.0,12345678910 NOT YET RELEASED Seen,NaN
249,NaN,250. Underground (1995),8.0,12345678910 NOT YET RELEASED Seen,NaN

In [134]:
df['Director'] = test_directors
df

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4,Director
0,NaN,1. Die Verurteilten (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN,Frank Darabont
1,NaN,2. Der Pate (1972),9.1,12345678910 NOT YET RELEASED Seen,NaN,Francis Ford Coppola
2,NaN,3. Der Pate 2 (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN,Francis Ford Coppola
3,NaN,4. The Dark Knight (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN,Christopher Nolan
4,NaN,5. Die zwölf Geschworenen (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN,Sidney Lumet
...,...,...,...,...,...,...
245,NaN,246. Der Zirkus (1928),8.0,12345678910 NOT YET RELEASED Seen,NaN,Charles Chaplin
246,NaN,247. Terminator (1984),8.0,12345678910 NOT YET RELEASED Seen,NaN,James Cameron
247,NaN,248. Tangerines (2013),8.0,12345678910 NOT YET RELEASED Seen,NaN,Zaza Urushadze
248,NaN,249. Koe no katachi (2016),8.0,12345678910 NOT YET RELEASED Seen,NaN,Naoko Yamada
249,NaN,250. Winterschlaf (2014),8.0,12345678910 NOT YET RELEASED Seen,NaN,Nuri Bilge Ceylan

In [27]:
#probably simpler to create a new data frame and add the column for directors, then split Rank & Title
movies_raw['Directors'] = test_directors
movies = movies_raw[['Rank & Title','IMDb Rating','Directors']]
movies

                           Rank & Title  IMDb Rating             Directors
0          1.  Die Verurteilten  (1994)          9.2        Frank Darabont
1                  2.  Der Pate  (1972)          9.1  Francis Ford Coppola
2                3.  Der Pate 2  (1974)          9.0  Francis Ford Coppola
3           4.  The Dark Knight  (2008)          9.0     Christopher Nolan
4    5.  Die zwölf Geschworenen  (1957)          8.9          Sidney Lumet
..                                  ...          ...                   ...
245            246.  Der Zirkus  (1928)          8.0       Charles Chaplin
246    247.  Schlacht um Algier  (1966)          8.0      Gillo Pontecorvo
247            248.  Tangerines  (2013)          8.0        Zaza Urushadze
248            249.  Terminator  (1984)          8.0         James Cameron
249           250.  Underground  (1995)          8.0        Emir Kusturica

[250 rows x 3 columns]

In [28]:
lst = [i.split('(') for i in movies['Rank & Title']]
year = [i[1].replace(")","") for i in lst]
name = [i[0].split(".") for i in lst]
only_name = [i[1] for i in name]

In [29]:
movies['Title'] = only_name
movies['Year'] = year

<ipython-input-29-d60a829af63a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Title'] = only_name
<ipython-input-29-d60a829af63a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Year'] = year

In [165]:
movies[['Title', 'Year', 'IMDb Rating', 'Directors']]

                          Title  Year  IMDb Rating             Directors
0            Die Verurteilten    1994          9.2        Frank Darabont
1                    Der Pate    1972          9.1  Francis Ford Coppola
2                  Der Pate 2    1974          9.0  Francis Ford Coppola
3             The Dark Knight    2008          9.0     Christopher Nolan
4      Die zwölf Geschworenen    1957          8.9          Sidney Lumet
..                          ...   ...          ...                   ...
245                Der Zirkus    1928          8.0       Charles Chaplin
246                Terminator    1984          8.0         James Cameron
247                Tangerines    2013          8.0        Zaza Urushadze
248            Koe no katachi    2016          8.0          Naoko Yamada
249              Winterschlaf    2014          8.0     Nuri Bilge Ceylan

[250 rows x 4 columns]

#### 3.1. Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [30]:
#This is the url you will scrape in this exercise
url = 'https://www.imdb.com/list/ls009796553/'

In [31]:
# your code here
html = requests.get(url).content
soup = BeautifulSoup(html, "lxml")

In [33]:
title_raw = [soup.find_all(class_ = 'lister-item-header')[i].get_text().split('\n') for i in range(0,10)]
title = [i[2] for i in title_raw]
title

['Nightmare - Mörderische Träume',
 'Zeit des Erwachens',
 'Eine Klasse für sich',
 'In den Straßen der Bronx',
 'Angels - Engel gibt es wirklich',
 'Die Jury',
 'Amistad - Das Sklavenschiff',
 'Anaconda',
 'Kein Vater von gestern',
 'American History X']

In [34]:
year = [i[3] for i in title_raw]
year

['(1984)',
 '(1990)',
 '(1992)',
 '(1993)',
 '(1994)',
 '(1996)',
 '(1997)',
 '(1997)',
 '(1998)',
 '(1998)']

In [35]:
summary = [soup.find_all('p',{'class':''})[i].get_text().replace("\n", "") for i in range (0,10)]
summary

['    The monstrous spirit of a slain child murderer seeks revenge by invading the dreams of teenagers whose parents were responsible for his untimely death.',
 '    The victims of an encephalitis epidemic many years ago have been catatonic ever since, but now a new drug offers the prospect of reviving them.',
 '    Two sisters join the first female professional baseball league and struggle to help it succeed amidst their own growing rivalry.',
 '    A father becomes worried when a local gangster befriends his son in the Bronx in the 1960s.',
 '    When a boy prays for a chance to have a family if the California Angels win the pennant, angels are assigned to make that possible.',
 '    In Canton, Mississippi, a fearless young lawyer and his assistant defend a black man accused of murdering two white men who raped his ten-year-old daughter, inciting violent retribution and revenge from the Ku Klux Klan.',
 '    In 1839, the revolt of Mende captives aboard a Spanish owned ship causes a major controversy in the United States when the ship is captured off the coast of Long Island. The courts must decide whether the Mende are slaves or legally free.',
 '    A "National Geographic" film crew is taken hostage by an insane hunter, who forces them along on his quest to capture the world\'s largest - and deadliest - snake.',
 '    Russell, single father balances his work as a lawyer with the care of his five-year-old son, after his wife abandoned them. When she reappears creating turmoil, he must deal with his new love interest and a job opportunity of a lifetime.',
 '    A former neo-nazi skinhead tries to prevent his younger brother from going down the same wrong path that he did.']

In [36]:
pd.DataFrame(list(map(list, zip(title,year,summary))), columns= ['Title','Year','Summary'])

,Title,Year,Summary
0,Nightmare - Mörderische Träume,(1984),The monstrous spirit of a slain child murd...
1,Zeit des Erwachens,(1990),The victims of an encephalitis epidemic ma...
2,Eine Klasse für sich,(1992),Two sisters join the first female professi...
3,In den Straßen der Bronx,(1993),A father becomes worried when a local gang...
4,Angels - Engel gibt es wirklich,(1994),When a boy prays for a chance to have a fa...
5,Die Jury,(1996),"In Canton, Mississippi, a fearless young l..."
6,Amistad - Das Sklavenschiff,(1997),"In 1839, the revolt of Mende captives aboa..."
7,Anaconda,(1997),"A ""National Geographic"" film crew is taken..."
8,Kein Vater von gestern,(1998),"Russell, single father balances his work a..."
9,American History X,(1998),A former neo-nazi skinhead tries to preven...

## Bonus

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code here
print(url)

#### Find the book name, price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
# your code here

####  Display the 100 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.
***Hint:*** Here the displayed number of earthquakes per page is 20, but you can easily move to the next page by looping through the desired number of pages and adding it to the end of the url.

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/?view='

# This is how you will loop through each page:
number_of_pages = int(100/20)
each_page_urls = []

for n in range(1, number_of_pages+1):
    link = url+str(n)
    each_page_urls.append(link)
    
each_page_urls

In [ ]:
# your code here